
Shoot em fortress/game/bin/client.dll
Shoot em fortress/game/bin/client.pdb
Shoot em fortress/game/bin/game_shader_dx9.dll
Shoot em fortress/game/bin/game_shader_dx9.pdb
Shoot em fortress/game/bin/motionmapper.exe
Shoot em fortress/game/bin/motionmapper.pdb
Shoot em fortress/sef/bin/motionmapper.exe
Shoot em fortress/sef/bin/motionmapper.pdb
Shoot em fortress/sef/bin/phonemeextractors/phonemeextractor.dll
Shoot em fortress/sef/bin/phonemeextractors/phonemeextractor.pdb
Shoot em fortress/sef/bin/serverplugin_empty.dll
Shoot em fortress/sef/bin/serverplugin_empty.pdb
Shoot em fortress/sef/bin/tgadiff.exe
Shoot em fortress/sef/bin/vbsp.exe
Shoot em fortress/sef/bin/vice.exe
Shoot em fortress/sef/bin/vrad_dll.pdb
Shoot em fortress/sef/bin/vvis_dll.pdb
